* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #22212100;
    font-family: 'Onest', sans-serif;
}

#banner {
    position: absolute;
    margin-bottom: 1em;

}
.nav{
    background-color: #7c003e00;
    padding-right: 1%;
    padding-top: 40px;
    
    navbar-expand{
        padding-top: 0px;
    }
}

#Titulo {
    display: flex;
    width: 100%;
    max-width: auto;
    padding-top: 0px;

}

#nombre {
    font-size: 50px;
    margin-top: 60px;
    margin-right: 100px;
    padding-right: 300px;
    padding-left: 150px;
    color: white;
    
}

#logo {
    float: right;
    margin-right: 40px;
    margin-left: 7px;
    width: 100%;


}

body {
    background: radial-gradient(circle, #C7193FF0 300px, #B2004E 400px, #7C003E 700px);
    /*border : 10px solid red;*/
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 15em;
}

#container my-5{
        .table{
            color: white;
        }
    }


footer {
    text-align: center;
    position: absolute;
    padding-top: 1em;
    bottom: 0;
    /*width: 100%;*/
}