* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#banner {
    position: absolute;
    margin-bottom: 1em;
    
}


#Titulo {
    display: flex;
    width: 100%;
    max-width: auto;
    padding-top: 30px;

}
    #nombre {
        font-size: 50px;
        margin-top: 60px;
        margin-right: 100px;
        padding-right: 300px;
        padding-left: 150px;
        color: white;
        font-family: 'Onest', sans-serif;
    }

    #logo {
        float: right;
        margin-right: 40px;
        margin-left: 7px;
        width: 100%;

        
    }

body {
    background: radial-gradient(circle, #C7193FF0 300px, #B2004E 400px, #7C003E 700px);
    border : 10px solid red;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-bottom: 15em;

    h1{
        text-align:Center;
        color: white;
        margin-bottom: 50px;
    }

    .Container{
        display: flex; 
        width: 100%;
        height: 100%;
        
        color: white;

        #consulta{
            padding: auto; 
            margin: 10px;
            padding-top: 50px;
            text-align: left;
        }

        #Informe{  
            display: inline;
            padding: 0 35% 0 35%;
            margin: 10px;
            
        }

        form{
            width: 400px;
        }

        input{
            width: 200px;
        }
    }



}

footer{
    text-align: center;
    position:absolute;
    padding-top: 1em;
    bottom: 0;
    /*width: 100%;*/
}