* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: radial-gradient(circle, #C7193FF0 300px, #B2004E 400px, #7C003E 700px);
    min-height: 100vh;
    /*border : 10px solid red;*/
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#banner {
    position: absolute;
    height: 1%;
    margin-bottom: 1em;
}

.Form-register{
    width: 600px;
    
    padding: 30px;
    margin: auto;
    margin-top: 300px;
    border-radius: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    
    input{
        width: 100%;
        height: 25px;
        margin-bottom: 15px;
        background: #CA274A;
        border-radius: 50px;
        border: 1px solid #EA7724;
        font-family: 'calibri';
        font-size: 15px;
        color: white;
        }

    #boton{
        background-color: #F6B036;
        font-weight: bold;
        border: 0;
        color: black;
    }
}


/*#Formulario{
    position: Absolute;
    width: 100%;
    height: 0%;
    text-align: center;
    margin-top: 300px;
}*/

#pie {
    width: 100%;
    height: 0%;
    position: absolute;
    bottom:0;
    width: 100%;
    padding: 1em 0;
}
#Iconos_Decorativos {
    display: relative;
    align-items: center;
    padding: 4% 5% 5% 5%;
    bottom: 20px;
    margin-left: 200px;
}

