* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#banner {
    position: absolute;
    height: 1%;
}

#Titulo {
    display: flex;
    width: 100%;
    max-width: auto;
    padding-top: 30px;

}
    #nombre {
        font-size: 50px;
        margin-top: 60px;
        margin-right: 100px;
        padding-right: 300px;
        padding-left: 150px;
        color: white;
        font-family: 'Onest', sans-serif;
    }

    #logo {
        float: right;
        margin-right: 40px;
        margin-left: 7px;
        width: 100%;

        
    }

body {
    background: radial-gradient(circle, #C7193FF0 300px, #B2004E 400px, #7C003E 700px);
    min-height: 100vh;
    max-width: 100%;
    border : 10px solid red;
}

.separador {
    color: gray;
}

#menu li {
    display: inline;
}

.opciones {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3% 5% 5% 5%;
    margin-left: 340px;

    .iconos {
        width: 200px;
        height: 200px;
        margin: auto 50px auto 50px;

    }

    a {
        color: white;
        text-decoration: none;
        text-align: center;
    }

    img:hover {

        background-color: #713100;
        transition: all 1.5s;
        border-radius: 10px;

    }

    p {
        padding-top: 10px;
    }

}

#Iconos_Decorativos {
    display: flex;
    align-items: center;
    padding: 4% 5% 5% 5%;

    img {
        height: 100px;
        margin: auto 10px auto 60px;
    }
}

#pie {
    width: 100%;
    height: 0%;
    top: 0px;
    position: relative;
}