*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Titulo{
    font-size: large;
}
#banner{
    position: absolute;
    height: 1%;
}

body{
    background: radial-gradient(circle,#C7193FF0 300px,#B2004E 400px,#7C003E 700px);
    min-height: 100vh;
}

.separador {
    color:gray;
}

#menu li {
    display:inline;

    
}
a {
    color:white;
    text-decoration:none;
}

a:hover {
    
    background-color:lightgray;
}



.opciones{
    display:flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40vh 5% 5% 5%;


    .iconos {
        width: 100px;
        height: 100px;
        margin: auto 50% auto 50%;
        padding: auto;
    }

}

#texto{
    padding-left:30px;
}

#pie{
        width:100%;
        height: 0%;
        top: 0px;
        position: relative;
}