footer{
    text-align: center;
    position:absolute;
    padding-top: 1em;
    width: 100%;
    background-color: blue;

    #Iconos_Decorativos {
        display: flex;
        align-items: center;
        padding: 2% 5% 2% 5%;
    
        img {
            height: 100px;
            margin: 3px 10px 3px 60px;
        }
    }
    
    #pie {
        width: auto;
        top: 0px;
        position: relative;
    }
}