* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #7c003e00;
    padding-right: 1%;
}

.Titulo{
    display: flex;
    width: 100%;
    max-width: auto;
    margin-top: 10px;
    background-color:black;
    
    #nombre {
        font-size: 50px;
        margin-top: 40px;
        margin-right: 100px;
        padding-right: 300px;
        padding-left: 150px;
        color: white;
        font-family: 'Onest', sans-serif;
    }
    #logo {
        float: right;
        margin-right: 40px;
        margin-left: 7px;
        width: 100%;
    }
}

